{% extends 'base.html.twig' %}

{% block title %}Shop - Edit password
{% endblock %}

{% block body %}
	<!-- User profile section -->
	<section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
		<div class="container">
			<div
				class="row">
				<!-- Sidebar Area Start -->
				<div class="ec-shop-leftside ec-vendor-sidebar col-lg-3 col-md-12">
					<div
						class="ec-sidebar-wrap ec-border-box">
						<!-- Sidebar Category Block -->
						<div class="ec-sidebar-block">
							<div class="ec-vendor-block">
								<div class="ec-vendor-block-items">
									<ul>
										<li><a href="{{path('app_account')}}">User Profile</a></li>
										<li><a href="{{path('app_account_edit_password')}}">Edit Password</a></li>
										<li><a href="user-history.html">History</a></li>
										<li><a href="wishlist.html">Wishlist</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="track-order.html">Track Order</a></li>
										<li><a href="user-invoice.html">Invoice</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ec-shop-rightside col-lg-9 col-md-12">
                <div class="ec-vendor-setting-card">
					<h5>Edit Password</h5>
                    <div>
                        {{ form_start(passwordForm) }}
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{ form_label(passwordForm.currentPassword) }}
                                    {{ form_widget(passwordForm.currentPassword) }}
                                    <div class="form-error">
                                        {{ form_errors(passwordForm.currentPassword) }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form_label(passwordForm.plainPassword.first) }}
								    {{ form_widget(passwordForm.plainPassword.first) }}
                                    <div class="form-error">
                                        {{ form_errors(passwordForm.plainPassword.first) }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                   {{ form_row(passwordForm.plainPassword.second) }}
                                </div>

                                <div class="col-md-12 mb-3">
                                   {{ form_row(passwordForm.submit) }}
                                </div>
                            </div>
                        {{ form_end(passwordForm) }}
                    </div>
                </div>
			</div>
		</div>
	</section>
	
{% endblock %}
